.navbar {
    position: fixed;
    width: 100%;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7));
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > .logo {
        font-family: $font-logo;
        margin-left: 2rem;
    }

    & > ul {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;

        & > li {
            margin: 0 1rem;


            & > a {
                text-decoration: none;
                color: $col-white;
                font-family: $font-text;
            }
        }
    }
}

.cta {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    & > h1 {
        text-align: left;
        width: 100%;
        font-family: $font-title;
        font-size: getRem(70px);
        color: $col-white;
    }

    & > p {
        font-family: $font-text;
        line-height: 1.8rem;
        font-size: getRem(18px);
        color: $col-white;
    }

    & a {
        color: $col-red;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

}

.header-btn {
    padding: 1rem 0.6rem;
    margin-right: 1rem;
    background-color: $col-dark;
    border: none;
    color: $col-white;
    cursor: pointer;
    font-family: $font-text;
}

.header-btn-em {
    background-color: $col-darkred;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    width: 100%;

    &-cell {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 300px;
        height: 300px;
    }
    
}

.flexcont {
    display:flex;
    justify-content: space-around;
    & > ul {
        list-style-type: none;
    }
}