// Var, functions y mixins para el script principal
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

// Var

$font-title: 'Roboto', sans-serif;
$font-text: 'Lato', sans-serif;
$font-logo: 'Titillium Web', sans-serif;

$col-dark: #2b2d42;
$col-gray: #8d99ae;
$col-white: #edf2f4;
$col-red: #ef233c;
$col-darkred: #d90429;

// functions

@function getRem($pxSize) {
    @return #{$pxSize / 16px}rem
};

// Mixins 

@mixin responsive($breakpoint) {
    @media screen and (max-width: $breakpoint) {
        @content;
    }
};